
<h3>Listado de Usuarios</h3>
<table class="table table-bordered table-striped tabla"
 style="margin-top: 40px;">
 <thead>
 <tr class="filters">
 <th>Nombre</th>
 <th>Correo Electrónico</th>
 <th>Telefono</th>
 <th>CP</th>
 <th>Direccion</th>
 </tr>
 </thead>
 <tbody>
 <tr *ngFor="let usuario of usuarios">
 <td>{{ usuario.nombre }}</td>
 <td><a href="mailto:{{ usuario.email }}">{{ usuario.email }}</a></td>
 <td>{{ usuario.telefono }}</td>
 <td>{{ usuario.cp }}</td>
 <td>{{ usuario.direccion }}</td>
 </tr>
 </tbody>
 </table>
